html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
}

#calc-body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: bisque;
  border: 5px solid rgb(167, 134, 94);
}

#calc-screen {
  display: flex;
  background-color: white;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  height: auto;
  border: 5px solid rgb(167, 134, 94);
}

#calc-screen p {
  margin: 0;
  font-size: 42px;
  text-align: right;
  width: inherit;
}

.button-row {
  display: flex;
  margin: 5px;
  gap: 10px;
}

button {
  font-weight: bold;
  font-size: 18px;
  flex: auto;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid gray;
  background: whitesmoke;
}

button:hover {
  background-color: lightgray;
}

#calc-screen input {
  font-size: 36px;
  flex: auto;
  height: auto;
  width:auto;
}